* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background-color: rgb(255, 255, 255);
}
section {
  background: rgb(255, 210, 210);
  display: inline-block;
  padding: 20px;
  border-radius: 3px;
}

input {
  font-size: 20px;
  padding: 5px;
  border: 2px solid rgb(158, 158, 158);
  background-color: rgb(245, 237, 166);
  margin: 5px;
  transition: 0.2s;
  border-radius: 3px;
}

input:focus {
  transition: 0.5s;

  transform: scale(1.1);
  background-color: rgb(158, 158, 158);
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.603);
  outline: 0;
}

button {
  padding: 5px;
  font-size: 20px;
  height: fit-content;

  border: 2px solid rgb(158, 158, 158);
  background-color: rgb(245, 237, 166);
  transition: 0.2s;
  border-radius: 3px;
}

button:hover {
  transition: 0.4s;

  transform: scale(1.1);
  background-color: rgb(158, 158, 158);
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
}

button:focus {
  background-color: rgb(255, 167, 167);
  border: 2px solid rgb(255, 255, 255);

  outline: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.603);
}

ul {
  display: block;
  font-family: arial, sans-serif;
  font-size: large;

  margin-top: 2rem;
}

li {
  display: inline-block;
  border: 3px solid;
  padding: 5px;

  background-color: rgb(255, 46, 46);
}
